 html {
     box-sizing: border-box;

     color: hsl(14, 45%, 36%);
     color: hsl(332, 51%, 32%);
     color: hsl(0, 0%, 100%);
     color: hsl(330, 100%, 98%);
     color: hsl(30, 54%, 90%);
     color: hsl(30, 18%, 87%);
     color: hsl(30, 10%, 34%);
     color: hsl(24, 5%, 18%);
     font-family: "Outfit", sans-serif;
     font-size: 16px;

 }

 body {
     background-color: hsl(30, 54%, 90%);
     display: flex;
     justify-content: center;
     align-items: center;
     /* min-height: 100vh; */

 }

 h1,h2 {
    font-family: "Young Serif", serif;

 }

 /* - Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */

 .recipe {
     background-color: hsl(0, 0%, 100%);
     border-radius: 10px;
     display: flex;
     padding: 15px 25px;
     width: 100%;
     max-width: 650px;
     flex-direction: column;
 }

.ompic {
     max-width: 100%;
     border-radius: 10px;
 }

.preparation{
    background-color: hsl(330, 100%, 98%);
}

.intstruction-list{
    font-weight: bold;
    color: hsl(30, 10%, 34%);
}

.instructions{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

@media(max-width:500px){
    body{
        margin: 0;
        padding-top: 0;
    }
    .recipe{
        padding: 0px 20px 25px 20px;
    }
    .ompic{
        border-radius: 0;
        align-self: self-start;

    }
}